.grid {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.card {
  height: auto;
  max-width: 500px;
  text-align: center;
}

.cardImg {
  margin: 50px;
}

.titleCard {
  padding: 20px 50px;
}
